src/Library/
src/Temp/
src/UpgradeLog2.htm
src/obj/
src/src.userprefs
*.csproj
*.unityproj
.DS_Store
src/Library/AssetImportState
src/Library/AssetServerCacheV3
src/Library/FailedAssetImports.txt
src/Library/ScriptAssemblies
src/Library/ScriptMapper
src/Library/assetDatabase3
src/Library/cache
src/Library/expandedItems
src/Library/metadata
src/Library/previews
src/Library/guidmapper
*.pidb
*.sln